<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86684503922-lusbuldma96v3uojig123949f3ea53s5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86684503922-lusbuldma96v3uojig123949f3ea53s5</string>
	<key>API_KEY</key>
	<string>AIzaSyAdSs_0erw1_RUubryq7KSZkKnm0wkpn6k</string>
	<key>GCM_SENDER_ID</key>
	<string>86684503922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marchelmon.Movieskip</string>
	<key>PROJECT_ID</key>
	<string>movieskip-4c39e</string>
	<key>STORAGE_BUCKET</key>
	<string>movieskip-4c39e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86684503922:ios:4fcd02ec09a7aa5741d7eb</string>
</dict>
</plist>